* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* header's banner style here */
.header {
    background-image: url(/images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}

.banner {
    width: 40%;
    text-align: right;
    margin-right: 150px;
    color: #FFFFFF;
}

.heading-primary {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 20px;
}

.header-description {
    line-height: 26px;
    margin-bottom: 28px;
}

.header-btn {
    padding: 17px 34px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

/* my-falure section style here */
.my-failure {
    max-width: 1070px;
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.heading-secondary {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-list {
    list-style: none;
    color: #444343;
}

.failure-list li {
    margin-bottom: 10px;
}

/* my-plans section style here */
.my-plans {
    max-width: 1140px;
    margin: 130px auto;
}

.heading-secondary {
    text-align: center;
    margin-bottom: 50px;
}


.plan-container {
    display: flex;
    gap: 85px;
    justify-content: center;
}

.plan-img {
    margin-bottom: 24px;
    text-align: center;
}

.heading-tertiary {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    text-align: center;
    color: #151414;

}

.plan-text {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}